@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #eaeaea;
    --secondaryColor: #ffffff;
    --borderColor: #c1c1c1;
    --mainText: #000000;
    --secondaryText: #4b5156;
}

body {
    font-family: 'Roboto Mono';
}

body * {
    transition: all .3s;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
    margin: 1em 0;
    color: var(--mainText);
}

p, li {
    color: var(--secondaryText);
    font-size: 14pt;
    font-weight: 500;
}

a {
    color: #17a2b8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.s1 {
    background-color: var(--mainColor);
    overflow: auto;
}

.s2 {
    background-color: var(--secondaryColor);
    overflow: auto;
}

.main-container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper {
    min-height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.greeting-wrapper h1 {
    font-size: 60px;
}

.intro-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'nav-wrapper nav-wrapper'
        'left-col right-col'
    ;
    background: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
}

.intro-pic {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
}

.nav-wrapper {
    background: var(--mainColor);
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-col {
    grid-area: left-col;
    padding: 50px 0;
}

.right-col {
    grid-area: right-col;
    padding: 50px 45px;
    display: grid;
    align-content: center;
}

.dots-wrapper {
    display: flex;
    padding: 10px;
}

.browser-dots {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
}

a.contact {
    padding: 10px;
}

.dot-one {
    background: #FC6058;
}

.dot-two {
    background: #FEC02F;
}

.dot-three {
    background: #2ACA3E;
}

.theme-options {
    display: flex;
    justify-content: center;
}

.theme-dot {
    width: 30px;
    height: 30px;
    border: 2px solid #000000;
    border-radius: 50%;
    margin: 5px;
}

.theme-dot:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.light-mode {
    background: #ffffff;
}

.dark-mode {
    background: #1c1c1c;
}

h5 {
    font-size: 20px;
}

h3 {
    font-size: 28px;
}

h6 {
    font-size: 16px;
}

.about-wrapper {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 100px;
}

.skills {
    background: var(--mainColor);
    display: flex;
    justify-content: space-around;
}

.skills ul {
    list-style: none;
    margin: 16px 0;
}

.social {
    display: grid;
    align-content: center;
    text-align: center;
}

.social-img {
    width: 100%;
    height: auto;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    margin-bottom: 50px;
    gap: 20px;
    justify-content: center;
}

.thumbnail {
    width: 100%;
    height: 180px;
}

.card {
    background: var(--secondaryColor);
    box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.card-content {
    padding: 15px;
}

.card-desc {
    font-size: 14px;
}

.card-link {
    display: inline-block;
    margin-top: 15px;
}

@media screen and (max-width: 800px) {
    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            'nav-wrapper'
            'left-col'
            'right-col'
        ;
    }
}